@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
* {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    letter-spacing: 0.1em;
}
/*/ Uppercase transform /*/
header, footer {
    text-transform: uppercase;
}
body {
    height: auto;
    min-height: 100vh;
}

header {
    height: 150px;
    background-color: rgba(203, 193, 177, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav_links li {
    display: inline-block;
    font-size: 1rem;
    /* padding: 0px 14.5px; */
}

.nav_links li a {
    display: inline-block;
    padding: 18.5px 18px;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    font-size: 1.125em;
}

.burger-menu {
    display: none;
}

footer {
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(203, 193, 177, 1);
}
.footer-content {
    width: auto;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    letter-spacing: 0.1em;
}
@media (max-width: 970px) {
    .nav_links li {
        display: none;
    }
    .burger-menu {
        display: flex;
        background-image: url(pictures/menu.png);
        background-color: rgba(203, 193, 177, 1);
        border: 0;
        width: 60px;
        height: 60px;
        cursor: pointer;
    }
}
@media (max-width: 500px) {
    header {
        height: 100px;
    }
    .logo {
        width: 80px;
    }
    .nav_links li {
        display: none;
    }
    .burger-menu {
        width: 30px;
        height: 30px;
    }
    footer {
        height: 100px;
    }
}